@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  /* Add font family definitions */
  --font-family-poppins: var(--font-poppins);
  --font-family-roboto: var(--font-roboto);
  --font-family-montserrat: var(--font-montserrat);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto), Arial, Helvetica, sans-serif;
}

@layer components {
  .header-large {
    font-family: var(--font-montserrat);
    @apply text-[32px] leading-10 tracking-[0] md:text-[32px] md:leading-10 font-semibold;
  }

  /* Mobile adjustment */
  @media (max-width: 768px) {
    .header-large {
      @apply text-[24px] leading-9;
    }
  }

  .header-small {
    font-family: var(--font-montserrat);
    @apply font-medium text-base leading-6 tracking-normal text-center;
  }

  @media (max-width: 768px) {
    .header-small {
      @apply  leading-5;
    }
  }




  .homeH1 {
  font-family: var(--font-montserrat);
  @apply  font-bold text-[50px] leading-[60px] tracking-[0px] text-center;
}

 @media (max-width: 768px) {
    .homeH1 {
      @apply text-[32px] leading-10 ;
    }
  }

 .homeH2 {
  font-family: var(--font-montserrat);
  @apply  font-semibold lg:text-[32px] lg:leading-10 tracking-[0px];
  
 }

 .homeH5 {
  font-family: var(--font-montserrat);
  @apply  font-semibold lg:text-[16px] lg:leading-6 tracking-[0px] text-[#B28241];
  
 }



}
/* class="font-roboto font-semibold text-[16px] leading-[24px] tracking-[0px] text-[#B28241]" */


